
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/vue.js"></script>
<div>
    <div id="log" v-cloak>
        <ul>
            <li v-for="item in Logs">
                <a :href="url(item.LogId) | url" target="_blank">{{item.Description}}</a>
            </li>
        </ul>
        <span v-html="link" :class="{active:isActive}"></span>
        <button @@click="link='<i>变化<i>'">
            {{showmessage()}}
        </button>
        <button @@click="showmessage">弹出消息</button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var data=null;
        $.ajax({
            url: "@Url.Action()",
            type: "get",
            dataType: "json",
            async: false,
            success:function(d)
            {
                data = d;
            }
        })
        var p = new Vue({
            el: "#log",
            data: {
                Logs: data,
                link: '<b>加粗</b>',
                isActive: true
            },
            methods:{
                url: function (d) {
                    //console.log(d);
                    return "/methods/test?id=" + d;
                },
                getStr: function () {
                    return "这是一个测试";
                },
                showmessage() {               
                    alert("asdf");
                }
            },
            filters: {
                url: function (d) {
                    //console.log(d);
                    return "/filters/test?id=" + d;
                }
            }
        });
    })
</script>